.App {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Sign-out {
  font-size: small;
  padding-right: 2rem;
}

.Movie-container {
  padding-top: 1rem;
}

.Nav-form {
  color: white;
}

.Movie-list-filter-group {
  padding-top: 1rem;
}

.Movie-list-filter-input {
  width: 50%;
}

.Movie-text-label-container {
  padding-top: 2rem;
}

.Movie-text-label {
  font-weight: bold;
  text-align: left;
  padding-left: 0rem;
  padding-right: 0rem;
}

.Movie-text {
  padding-left: 0rem;
}

.Movie-plot {
  padding: 2rem;
}

.Yellow-star > path {
  color: "#FFCC00"
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h5 {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

a:link {
  color: #FFCC00;
}

a:visited {
  color: #FFCC00;
}

a:hover {
  color: #FFCC00;
}

a:active {
  color: #FFFFFF;
}