.App {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Welcome-user {
  font-size: 1rem;
  margin-right: 2rem;
}

.Sign-in-out {
  padding-right: 2rem;
}

.Movie-container {
  padding-top: 1rem;
}

.Nav-form {
  color: white;
}

.Movie-list-filter-group {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Movie-list-filter-input {
  width: 50%;
}

.Movie-text-label-container {
  padding-top: 2rem;
}

.Movie-text-label {
  font-weight: bold;
  text-align: left;
  padding-left: 0rem;
  padding-right: 0rem;
}

.Movie-text {
  padding-left: 0rem;
}

.Movie-plot {
  padding: 2rem;
}

.Comment-component-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}

.Comment-container {
  display: inline;
  margin-left: 1rem;
}

.Comment-delete-container {
  order: 0;
  flex: 1 1 auto;
  align-self: flex-end;
  text-align: right;
}

.Comment-upvote-container {
  margin-right: 0.5rem;
  cursor: pointer;
}

.Comment-submission-container {
  margin-bottom: 0.5rem;
}

.Comment-submission-rating {
  display: inline;
  cursor: pointer;
}

.Comment-user-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}

.Comment-rating-container {
  display: flex;
  justify-content: left;
}

.Empty-comment-alert {
  margin-bottom: 0rem;
}

.Yellow-star > path {
  color: "#FFCC00"
}

/* Utility Classes */

.Margin-left-- {
  margin-left: 0.5rem;
}

.Margin-top-- {
  margin-top: 0.5rem;
}

.Div-center {
  text-align: center;
}

.Card-body {
  padding-top: 0rem;
}

.Card-badge-container {
  text-align: right;
  padding-top: 0px;
}

.Card-badge {
  margin-right: 0.25rem;
}

/* Site Wide Components */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

h5 {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}

a:link {
  color: #FFCC00;
}

a:visited {
  color: #FFCC00;
}

a:hover {
  color: #FFCC00;
}

a:active {
  color: #FFFFFF;
}